* {
  font-family: Tahoma, verdana, sans-serif;
  padding: 0px;
  margin: 0; }

header {
  position: relative; }

body {
  background-image: url(../images/diarioaest.jpg);
  background-repeat: space; }

main {
  padding-right: 5vw;
  padding-left: 5vw;
  align-items: center;
  width: auto;
  height: auto; }

li a {
  text-decoration: none;
  color: antiquewhite;
  margin: 15px;
  padding: 15px; }

li a:hover {
  background-color: antiquewhite;
  color: black; }

.titulo {
  background-color: rgba(19, 18, 18, 0.856);
  color: antiquewhite;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

h2 {
  size: 15rem; }

.header__navegacion {
  display: flex;
  background-color: rgba(19, 18, 18, 0.856);
  margin: 0px;
  padding: 15px;
  font-size: large;
  justify-content: center; }

ul {
  list-style-type: none; }

div {
  align-items: center; }
  div.tituloseccion {
    margin-top: 40px; }

button button:hover {
  color: white;
  background-color: black; }

button button:active {
  background-color: blue;
  color: aquamarine; }

.tituloseccion {
  background-color: #131212;
  color: antiquewhite;
  text-align: center; }

.producto__ventana {
  background-color: #131212;
  margin-top: 10px;
  width: auto;
  height: auto;
  color: antiquewhite;
  border-radius: 5px; }

.producto__ventana2 {
  background-color: #131212;
  margin-top: 10px;
  width: 500px;
  color: antiquewhite;
  border-radius: 5px; }

.imgBox {
  /* now a container for the image */
  display: inline-block;
  /* shrink wrap to image */
  overflow: hidden;
  /* hide the excess */
  width: max-content;
  height: fit-content;
  align-items: center;
  justify-content: center; }
  .imgBox img {
    display: block;
    /* no whitespace */
    transition: .5s ease-in-out; }
  .imgBox:hover img {
    transform: scale(1.2); }

.imgBox img {
  display: block;
  /* no whitespace */
  transition: .5s ease-in-out;
  width: 100%;
  height: 100%; }

.imgBox:hover img {
  transform: scale(1.2); }

footer {
  display: flex;
  background-color: #131212;
  background-color: #131212;
  margin-top: 10px;
  padding: 20px;
  font-size: large;
  color: antiquewhite; }

form {
  background-color: whitesmoke;
  display: block; }

.inputbox {
  background-color: aliceblue;
  padding: 40px;
  border: 5px black; }

.redletter {
  color: red; }
