* {
  font-family: Tahoma, verdana, sans-serif;
  padding: 0px;
  margin: 0; }

header {
  position: relative; }

body {
  background-image: url(../images/diarioaest.jpg);
  background-repeat: repeat;
  background-size: auto auto;
  margin: 0;
  padding: 0; }

main {
  padding-right: 5vw;
  padding-left: 5vw;
  align-items: center;
  width: auto;
  height: auto; }

.contenedor {
  width: auto;
  margin: auto; }

li a {
  text-decoration: none;
  color: #faebd7;
  margin: 0px;
  padding: 15px; }

li a:hover {
  background-color: antiquewhite;
  color: black; }

.titulo {
  background-color: rgba(19, 18, 18, 0.856);
  color: antiquewhite;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }

h2 {
  size: 15rem; }

.header__navegacion {
  display: flex;
  background-color: rgba(19, 18, 18, 0.856);
  margin: 0px;
  padding: 15px;
  font-size: large;
  justify-content: center;
  color: antiquewhite; }

ul {
  list-style-type: none; }

div {
  align-items: center; }
  div.tituloseccion {
    margin-top: 40px; }

.logonav {
  height: 5rem;
  width: 5rem;
  padding: 0%;
  margin: 0%; }

button button:hover {
  color: white;
  background-color: black; }

button button:active {
  background-color: blue;
  color: aquamarine; }

.tituloseccion {
  background-color: #131212;
  color: antiquewhite;
  text-align: center; }

.producto__ventana {
  background-color: #131212;
  margin-top: 10px;
  width: auto;
  height: 100%;
  color: antiquewhite;
  border-radius: 5px; }

.imgBox {
  /* now a container for the image */
  display: inline-block;
  /* shrink wrap to image */
  overflow: hidden;
  /* hide the excess */
  height: 30%;
  align-items: center;
  justify-content: center; }
  .imgBox img {
    display: block;
    /* no whitespace */
    transition: .5s ease-in-out; }
  .imgBox:hover img {
    transform: scale(1.2); }

.imgBox img {
  display: block;
  /* no whitespace */
  transition: .5s ease-in-out;
  width: 100%;
  height: 100%; }

.imgBox:hover img {
  transform: scale(1.2); }

.imagenproducto {
  width: 100%;
  height: auto; }

.redletter {
  color: red; }

footer {
  display: flex;
  background-color: #131212;
  margin-top: 10px;
  padding: 20px;
  font-size: large;
  color: antiquewhite; }

.carousel-inner {
  max-height: 600px; }

.carouselimage {
  height: fit-content;
  width: fit-content; }

.carousel-inner .itemimg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 33vh; }

.cajatextolocal {
  background-color: antiquewhite;
  margin: 10px 0 200px 0px;
  padding: 0 40px 0 40px;
  height: fit-content;
  width: 100%; }

.mapa {
  width: fit-content;
  height: fit-content; }

.bodycajatexto {
  background-color: #ffffff;
  padding: 5rem;
  margin: auto; }

.contenidosn {
  background-color: #f7f4f4;
  height: fit-content; }

.carouselimg {
  max-width: 564px; }

form {
  background-color: black;
  display: block;
  margin: 0; }

h1 label {
  margin: 10px; }

.inputbox {
  background-color: black;
  padding: 40px;
  border: 5px black;
  color: antiquewhite;
  border: ridge;
  padding-top: 10px; }

.wholepage {
  width: 100%;
  margin: auto; }

.cajaproducto {
  background-color: whitesmoke;
  max-height: 600px;
  align-items: stretch; }

.textoproducto {
  padding: 10px; }

.productoimg {
  width: 100%;
  height: auto; }

.btn-buy {
  background-color: black;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  padding: 5px; }

.row {
  align-items: stretch; }

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease; }

.btn-wsp:hover {
  background: #20ba5a; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px; } }

.cajasede1 {
  background: linear-gradient(#e5ff00, black);
  display: block;
  color: black;
  padding-left: 40vw;
  padding-right: 45vw; }

.cajasede2 {
  background: linear-gradient(cyan, black);
  display: block;
  color: black;
  padding-left: 40vw;
  padding-right: 45vw; }

.cajasede3 {
  background: linear-gradient(lime, black);
  display: block;
  color: black;
  padding-left: 40vw;
  padding-right: 45vw; }
