* {
    font-family: Tahoma, verdana, sans-serif;
    padding: 0px;
    margin: 0;
}

$navbackground: rgba(19, 18, 18, 0.856);
$darkbackgrounds: rgba(19, 18, 18, 1);

header {
    position: relative;
}
body {
    background-image: url(../images/diarioaest.jpg);
    background-repeat: space;
    background-size: auto auto;
    margin: 0;
    padding: 0;
}
main {
    padding-right: 5vw;
    padding-left: 5vw;
    align-items: center;
    width: auto;
    height: auto;
    
}
li{

    a{
        text-decoration: none;
        color: antiquewhite;
        margin: 0px;
        padding: 15px;
    }

    a:hover{
        background-color: antiquewhite;
        color: black;
    }
}
.titulo {
    background-color: $navbackground;
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h2 {
    size: 15rem;
}

.header__navegacion {
    display: flex;
    background-color: $navbackground;
    margin: 0px;
    padding: 15px;
    font-size: large;
    justify-content: center;

}
ul {
    list-style-type: none;
}
div {
    align-items: center;

    &.tituloseccion{
        margin-top: 40px;
    }
}

button {
    button:hover{
        color: white;
        background-color: black;
    }
    button:active{
        background-color: blue;
        color: aquamarine;
    }
}

.tituloseccion {
    background-color: $darkbackgrounds;
    color: antiquewhite;
    text-align: center;
}
.producto__ventana {
    background-color: $darkbackgrounds;
    margin-top: 10px;
    width: auto;
    height: 50px;
    color: antiquewhite;
    border-radius: 5px;
}
.producto__ventana2 {
    background-color: $darkbackgrounds;
    margin-top: 10px;
    width: 40rem;
    color: antiquewhite;
    border-radius: 5px;
}

.imgBox { /* now a container for the image */
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
    height: fit-content;
    align-items: center;
    justify-content: center;
    img {
        display: block; /* no whitespace */
        transition: .5s ease-in-out;
        max-width: 500px;
        max-height: 700px;
    }
    &:hover img{
        transform: scale(1.2);
    }
  }
.imgBox img {
    display: block; /* no whitespace */
    transition: .5s ease-in-out;
    width: 100%;
    height: 100%;
    
  }
.imgBox:hover img {
    transform: scale(1.2);
  }
footer {
    display: flex;
    background-color: $darkbackgrounds;
    margin-top: 10px;
    padding: 20px;
    font-size: large;
    color: antiquewhite;

}
form {
    background-color: whitesmoke;
    display: block;
}

.inputbox {
    background-color: aliceblue;
    padding: 40px;
    border: 5px black;
}

.redletter {
    color: red;
}

@mixin contenedor-copado ($color1, $color2) {
    background: linear-gradient($color1, $color2);
    display: block;
    color: black;
    padding-left: 40vw;
    padding-right: 45vw;

}

.cajasede1 {
    @include contenedor-copado(rgb(229, 255, 0), black)
}
.cajasede2 {
    @include contenedor-copado(rgb(0, 255, 255), black)
}
.cajasede3 {
    @include contenedor-copado(rgb(0, 255, 0), black)
}